<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="row ngx-lab-container">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">Nom</th>
            <th scope="col">Pr&eacute;nom</th>
            <th scope="col">Fonction</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users$ | async">
            <th scope="row">
              <button class="btn btn-sm btn-danger"><span class="fa fa-remove"></span></button>
              &nbsp;
              <button class="btn btn-sm btn-info"><span class="fa fa-edit"></span></button>
            </th>
            <td>{{user.nom}}</td>
            <td>{{user.prenom}}</td>
            <td>{{user.job}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom" aria-describedby="nom" placeholder="Nom">
            <small id="aideNom" class="form-text text-muted">Nom d'utilisateur</small>
          </div>
          <div class="form-group">
            <label for="prenom">Pr&eacute;nom</label>
            <input type="text" class="form-control" id="prenom" aria-describedby="prenom" placeholder="prenom">
            <small id="prenomAide" class="form-text text-muted">Pr&eacute;nom d'utilisateur</small>
          </div>
          <div class="form-group">
            <label for="fonction">Fonction</label>
            <input type="text" class="form-control" id="fonction" aria-describedby="fonction" placeholder="fonction">
            <small id="fonctionAide" class="form-text text-muted">Fonction</small>
          </div>
          <button type="submit" class="btn btn-primary"><span class="fa fa-plus"></span> Ajouter</button>
        </form>
      </div>
    </div>
  </div>
</div>
