<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="row ngx-lab-container">
  <div class="col-8">
    <div class="card">
      <div class="card-header card-header-container">
        <span>Liste des utilisateurs</span>
        <a class="btn btn-sm btn-info" [routerLink]="['new']"><span class="fa fa-plus"></span> Ajouter</a>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">Nom</th>
            <th scope="col">Pr&eacute;nom</th>
            <th scope="col">Fonction</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users$ | async">
            <th scope="row">
              <button class="btn btn-sm btn-danger" (click)="delete(user)"><span class="fa fa-remove"></span></button>
            </th>
            <td>
              <app-editable [value]="user.nom" (valueChange)="patch($event, user, 'nom')"></app-editable>
            </td>
            <td>
              <app-editable [value]="user.prenom" (valueChange)="patch($event, user, 'prenom')"></app-editable>
            </td>
            <td>
              <app-editable [value]="user.job" (valueChange)="patch($event, user, 'job')"></app-editable>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4">
    <router-outlet></router-outlet>
  </div>
</div>
